mixin comment(comment)
    li.video__comment(data-id=comment.id)
        div
            i.fas.fa-comment  
            span  #{comment.text}
        if String(comment.owner) === String(loggedInUser._id)
            i.fas.fa-trash-can#deleteCommentBtn

