.search__form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  .search__input {
    all: unset;
    width: calc(200% - 50px);
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background-color: $bg;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
  }
  button {
    all: unset;
  }
  button {
    position: absolute;
    width: 60px;
    height: 50px;
    right: 0px;
    top: 0px;
    font-size: 18px;
    background-color: #222222;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
  }
}
