extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="description", required, type="text", minLength=10, value=video.description)
        input(name="hashtags", placeholder="hashtags, seperated by comma.", required, type="text", value=video.hashtags.join())
        input(value="save", type="submit")